In [1]:
from pyspark import SparkContext
sc = SparkContext()

In [2]:
print(sc)
print(sc.version)
print(sc.pythonVer)
print(sc.master)
print(str(sc.sparkHome))
print(str(sc.sparkUser()))

<SparkContext master=local[*] appName=pyspark-shell>
2.4.6
3.7
local[*]
None
joseangelvelasco

In [3]:
from pyspark.sql.functions import *
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)

In [4]:
# Import SparkSession from pyspark.sql
from pyspark.sql import SparkSession
# Create my_spark
my_spark = SparkSession.builder.getOrCreate()
# Print my_spark
print(my_spark)

<pyspark.sql.session.SparkSession object at 0x10cbab7f0>

In [5]:
from datetime import datetime, timedelta
import holidays
import matplotlib.pyplot as plt

Bad key "text.kerning_factor" on line 4 in
/Users/joseangelvelasco/anaconda3/lib/python3.7/site-packages/matplotlib/mpl-data/stylelib/_classic_test_patch.mplstyle.
You probably need to get an updated matplotlibrc file from
http://github.com/matplotlib/matplotlib/blob/master/matplotlibrc.template
or from the matplotlib source distribution

In [6]:
data_path = '/Users/joseangelvelasco/GoogleDrive/DataScience/python/Data Science/dataanalytics.predictive/data/anual_data_2018.csv'

In [7]:
rdd = sc.wholeTextFiles(data_path)

In [8]:
data = sqlContext.read.format("com.databricks.spark.csv").options(header = True, inferSchema = True, sep=';', line_terminator='\n').load(path=data_path)

In [13]:


data.printSchema()

root
 |-- ID_SEGMENT: integer (nullable = true)
 |-- COD_LABORALIDAD: integer (nullable = true)
 |-- FECHA: timestamp (nullable = true)
 |-- MES: integer (nullable = true)
 |-- HORA: integer (nullable = true)
 |-- MINUTO: integer (nullable = true)
 |-- CANTIDAD_PREC: integer (nullable = true)
 |-- TOTAL_VEHICULOS: double (nullable = true)
 |-- TOTAL_VEHICULOS_1: double (nullable = true)
 |-- TOTAL_VEHICULOS_2: double (nullable = true)
 |-- TOTAL_VEHICULOS_3: double (nullable = true)
 |-- TOTAL_VEHICULOS_4: double (nullable = true)
 |-- TOTAL_VEHICULOS_5: double (nullable = true)
 |-- TOTAL_VEHICULOS_6: double (nullable = true)
 |-- TOTAL_VEHICULOS_7: double (nullable = true)
 |-- TOTAL_VEHICULOS_8: double (nullable = true)
 |-- TOTAL_VEHICULOS_9: double (nullable = true)
 |-- TOTAL_VEHICULOS_10: double (nullable = true)
 |-- TOTAL_VEHICULOS_11: double (nullable = true)
 |-- TOTAL_VEHICULOS_12: double (nullable = true)
 |-- TOTAL_VEHICULOS_13: double (nullable = true)
 |-- TOTAL_VEHICULOS_14: double (nullable = true)
 |-- TOTAL_VEHICULOS_15: double (nullable = true)
 |-- TOTAL_VEHICULOS_16: double (nullable = true)
 |-- TOTAL_VEHICULOS_17: double (nullable = true)
 |-- TOTAL_VEHICULOS_18: double (nullable = true)
 |-- TOTAL_VEHICULOS_19: double (nullable = true)
 |-- TOTAL_VEHICULOS_20: double (nullable = true)
 |-- TOTAL_VEHICULOS_21: double (nullable = true)
 |-- TOTAL_VEHICULOS_22: double (nullable = true)
 |-- TOTAL_VEHICULOS_23: double (nullable = true)
 |-- TOTAL_VEHICULOS_24: double (nullable = true)

In [14]:
data.collect()

[Row(ID_SEGMENT=1, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=46.0, TOTAL_VEHICULOS_1=44.0, TOTAL_VEHICULOS_2=9.0, TOTAL_VEHICULOS_3=7.0, TOTAL_VEHICULOS_4=2.0, TOTAL_VEHICULOS_5=11.0, TOTAL_VEHICULOS_6=24.0, TOTAL_VEHICULOS_7=8.0, TOTAL_VEHICULOS_8=7.0, TOTAL_VEHICULOS_9=15.0, TOTAL_VEHICULOS_10=21.0, TOTAL_VEHICULOS_11=17.0, TOTAL_VEHICULOS_12=34.0, TOTAL_VEHICULOS_13=36.0, TOTAL_VEHICULOS_14=33.0, TOTAL_VEHICULOS_15=48.0, TOTAL_VEHICULOS_16=48.0, TOTAL_VEHICULOS_17=53.0, TOTAL_VEHICULOS_18=31.0, TOTAL_VEHICULOS_19=42.0, TOTAL_VEHICULOS_20=45.0, TOTAL_VEHICULOS_21=59.0, TOTAL_VEHICULOS_22=68.0, TOTAL_VEHICULOS_23=86.0, TOTAL_VEHICULOS_24=75.0),
 Row(ID_SEGMENT=2, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=49.0, TOTAL_VEHICULOS_1=11.0, TOTAL_VEHICULOS_2=9.0, TOTAL_VEHICULOS_3=3.0, TOTAL_VEHICULOS_4=18.0, TOTAL_VEHICULOS_5=22.0, TOTAL_VEHICULOS_6=13.0, TOTAL_VEHICULOS_7=8.0, TOTAL_VEHICULOS_8=14.0, TOTAL_VEHICULOS_9=30.0, TOTAL_VEHICULOS_10=16.0, TOTAL_VEHICULOS_11=47.0, TOTAL_VEHICULOS_12=27.0, TOTAL_VEHICULOS_13=46.0, TOTAL_VEHICULOS_14=50.0, TOTAL_VEHICULOS_15=53.0, TOTAL_VEHICULOS_16=52.0, TOTAL_VEHICULOS_17=30.0, TOTAL_VEHICULOS_18=46.0, TOTAL_VEHICULOS_19=42.0, TOTAL_VEHICULOS_20=53.0, TOTAL_VEHICULOS_21=89.0, TOTAL_VEHICULOS_22=89.0, TOTAL_VEHICULOS_23=79.0, TOTAL_VEHICULOS_24=79.0),
 Row(ID_SEGMENT=3, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=50.0, TOTAL_VEHICULOS_1=16.0, TOTAL_VEHICULOS_2=6.0, TOTAL_VEHICULOS_3=5.0, TOTAL_VEHICULOS_4=11.0, TOTAL_VEHICULOS_5=18.0, TOTAL_VEHICULOS_6=14.0, TOTAL_VEHICULOS_7=7.0, TOTAL_VEHICULOS_8=5.0, TOTAL_VEHICULOS_9=20.0, TOTAL_VEHICULOS_10=12.0, TOTAL_VEHICULOS_11=34.0, TOTAL_VEHICULOS_12=30.0, TOTAL_VEHICULOS_13=36.0, TOTAL_VEHICULOS_14=40.0, TOTAL_VEHICULOS_15=40.0, TOTAL_VEHICULOS_16=32.0, TOTAL_VEHICULOS_17=42.0, TOTAL_VEHICULOS_18=37.0, TOTAL_VEHICULOS_19=38.0, TOTAL_VEHICULOS_20=35.0, TOTAL_VEHICULOS_21=71.0, TOTAL_VEHICULOS_22=75.0, TOTAL_VEHICULOS_23=74.0, TOTAL_VEHICULOS_24=78.0),
 Row(ID_SEGMENT=4, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=25.0, TOTAL_VEHICULOS_1=8.0, TOTAL_VEHICULOS_2=4.0, TOTAL_VEHICULOS_3=4.0, TOTAL_VEHICULOS_4=6.0, TOTAL_VEHICULOS_5=14.0, TOTAL_VEHICULOS_6=6.0, TOTAL_VEHICULOS_7=4.0, TOTAL_VEHICULOS_8=1.0, TOTAL_VEHICULOS_9=11.0, TOTAL_VEHICULOS_10=9.0, TOTAL_VEHICULOS_11=27.0, TOTAL_VEHICULOS_12=15.0, TOTAL_VEHICULOS_13=23.0, TOTAL_VEHICULOS_14=25.0, TOTAL_VEHICULOS_15=17.0, TOTAL_VEHICULOS_16=16.0, TOTAL_VEHICULOS_17=19.0, TOTAL_VEHICULOS_18=29.0, TOTAL_VEHICULOS_19=22.0, TOTAL_VEHICULOS_20=35.0, TOTAL_VEHICULOS_21=46.0, TOTAL_VEHICULOS_22=56.0, TOTAL_VEHICULOS_23=54.0, TOTAL_VEHICULOS_24=50.0),
 Row(ID_SEGMENT=6, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=None, TOTAL_VEHICULOS_2=None, TOTAL_VEHICULOS_3=None, TOTAL_VEHICULOS_4=None, TOTAL_VEHICULOS_5=None, TOTAL_VEHICULOS_6=None, TOTAL_VEHICULOS_7=None, TOTAL_VEHICULOS_8=None, TOTAL_VEHICULOS_9=None, TOTAL_VEHICULOS_10=None, TOTAL_VEHICULOS_11=None, TOTAL_VEHICULOS_12=None, TOTAL_VEHICULOS_13=None, TOTAL_VEHICULOS_14=None, TOTAL_VEHICULOS_15=None, TOTAL_VEHICULOS_16=None, TOTAL_VEHICULOS_17=None, TOTAL_VEHICULOS_18=None, TOTAL_VEHICULOS_19=None, TOTAL_VEHICULOS_20=None, TOTAL_VEHICULOS_21=None, TOTAL_VEHICULOS_22=None, TOTAL_VEHICULOS_23=None, TOTAL_VEHICULOS_24=None),
 Row(ID_SEGMENT=7, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=30.0, TOTAL_VEHICULOS_1=30.0, TOTAL_VEHICULOS_2=16.0, TOTAL_VEHICULOS_3=4.0, TOTAL_VEHICULOS_4=5.0, TOTAL_VEHICULOS_5=9.0, TOTAL_VEHICULOS_6=10.0, TOTAL_VEHICULOS_7=11.0, TOTAL_VEHICULOS_8=9.0, TOTAL_VEHICULOS_9=12.0, TOTAL_VEHICULOS_10=31.0, TOTAL_VEHICULOS_11=19.0, TOTAL_VEHICULOS_12=24.0, TOTAL_VEHICULOS_13=28.0, TOTAL_VEHICULOS_14=36.0, TOTAL_VEHICULOS_15=30.0, TOTAL_VEHICULOS_16=34.0, TOTAL_VEHICULOS_17=48.0, TOTAL_VEHICULOS_18=36.0, TOTAL_VEHICULOS_19=47.0, TOTAL_VEHICULOS_20=49.0, TOTAL_VEHICULOS_21=68.0, TOTAL_VEHICULOS_22=78.0, TOTAL_VEHICULOS_23=65.0, TOTAL_VEHICULOS_24=60.0),
 Row(ID_SEGMENT=8, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=3.0, TOTAL_VEHICULOS_2=2.0, TOTAL_VEHICULOS_3=3.0, TOTAL_VEHICULOS_4=3.0, TOTAL_VEHICULOS_5=3.0, TOTAL_VEHICULOS_6=4.0, TOTAL_VEHICULOS_7=2.0, TOTAL_VEHICULOS_8=2.0, TOTAL_VEHICULOS_9=4.0, TOTAL_VEHICULOS_10=4.0, TOTAL_VEHICULOS_11=5.0, TOTAL_VEHICULOS_12=5.0, TOTAL_VEHICULOS_13=6.0, TOTAL_VEHICULOS_14=7.0, TOTAL_VEHICULOS_15=5.0, TOTAL_VEHICULOS_16=8.0, TOTAL_VEHICULOS_17=8.0, TOTAL_VEHICULOS_18=6.0, TOTAL_VEHICULOS_19=9.0, TOTAL_VEHICULOS_20=8.0, TOTAL_VEHICULOS_21=8.0, TOTAL_VEHICULOS_22=8.0, TOTAL_VEHICULOS_23=9.0, TOTAL_VEHICULOS_24=9.0),
 Row(ID_SEGMENT=9, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=116.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=409.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=10, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=30.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=139.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=11, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=75.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=290.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=12, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=149.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=435.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=13, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=39.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=174.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=14, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=144.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=464.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=15, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=38.0, TOTAL_VEHICULOS_1=28.0, TOTAL_VEHICULOS_2=25.0, TOTAL_VEHICULOS_3=12.0, TOTAL_VEHICULOS_4=7.0, TOTAL_VEHICULOS_5=11.0, TOTAL_VEHICULOS_6=13.0, TOTAL_VEHICULOS_7=24.0, TOTAL_VEHICULOS_8=12.0, TOTAL_VEHICULOS_9=14.0, TOTAL_VEHICULOS_10=14.0, TOTAL_VEHICULOS_11=16.0, TOTAL_VEHICULOS_12=21.0, TOTAL_VEHICULOS_13=22.0, TOTAL_VEHICULOS_14=35.0, TOTAL_VEHICULOS_15=48.0, TOTAL_VEHICULOS_16=54.0, TOTAL_VEHICULOS_17=46.0, TOTAL_VEHICULOS_18=57.0, TOTAL_VEHICULOS_19=58.0, TOTAL_VEHICULOS_20=44.0, TOTAL_VEHICULOS_21=80.0, TOTAL_VEHICULOS_22=67.0, TOTAL_VEHICULOS_23=77.0, TOTAL_VEHICULOS_24=80.0),
 Row(ID_SEGMENT=16, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=0.0, TOTAL_VEHICULOS_6=4.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=0.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=17, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=None, TOTAL_VEHICULOS_2=None, TOTAL_VEHICULOS_3=None, TOTAL_VEHICULOS_4=None, TOTAL_VEHICULOS_5=None, TOTAL_VEHICULOS_6=None, TOTAL_VEHICULOS_7=None, TOTAL_VEHICULOS_8=None, TOTAL_VEHICULOS_9=None, TOTAL_VEHICULOS_10=None, TOTAL_VEHICULOS_11=None, TOTAL_VEHICULOS_12=None, TOTAL_VEHICULOS_13=None, TOTAL_VEHICULOS_14=None, TOTAL_VEHICULOS_15=None, TOTAL_VEHICULOS_16=None, TOTAL_VEHICULOS_17=None, TOTAL_VEHICULOS_18=None, TOTAL_VEHICULOS_19=None, TOTAL_VEHICULOS_20=None, TOTAL_VEHICULOS_21=None, TOTAL_VEHICULOS_22=None, TOTAL_VEHICULOS_23=None, TOTAL_VEHICULOS_24=None),
 Row(ID_SEGMENT=18, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=10.0, TOTAL_VEHICULOS_1=10.0, TOTAL_VEHICULOS_2=6.0, TOTAL_VEHICULOS_3=1.0, TOTAL_VEHICULOS_4=3.0, TOTAL_VEHICULOS_5=1.0, TOTAL_VEHICULOS_6=8.0, TOTAL_VEHICULOS_7=3.0, TOTAL_VEHICULOS_8=4.0, TOTAL_VEHICULOS_9=4.0, TOTAL_VEHICULOS_10=6.0, TOTAL_VEHICULOS_11=9.0, TOTAL_VEHICULOS_12=9.0, TOTAL_VEHICULOS_13=12.0, TOTAL_VEHICULOS_14=21.0, TOTAL_VEHICULOS_15=17.0, TOTAL_VEHICULOS_16=18.0, TOTAL_VEHICULOS_17=21.0, TOTAL_VEHICULOS_18=24.0, TOTAL_VEHICULOS_19=29.0, TOTAL_VEHICULOS_20=42.0, TOTAL_VEHICULOS_21=29.0, TOTAL_VEHICULOS_22=35.0, TOTAL_VEHICULOS_23=38.0, TOTAL_VEHICULOS_24=29.0),
 Row(ID_SEGMENT=19, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=2.0, TOTAL_VEHICULOS_2=2.0, TOTAL_VEHICULOS_3=3.0, TOTAL_VEHICULOS_4=1.0, TOTAL_VEHICULOS_5=1.0, TOTAL_VEHICULOS_6=2.0, TOTAL_VEHICULOS_7=1.0, TOTAL_VEHICULOS_8=1.0, TOTAL_VEHICULOS_9=1.0, TOTAL_VEHICULOS_10=1.0, TOTAL_VEHICULOS_11=1.0, TOTAL_VEHICULOS_12=1.0, TOTAL_VEHICULOS_13=2.0, TOTAL_VEHICULOS_14=2.0, TOTAL_VEHICULOS_15=1.0, TOTAL_VEHICULOS_16=2.0, TOTAL_VEHICULOS_17=2.0, TOTAL_VEHICULOS_18=5.0, TOTAL_VEHICULOS_19=1.0, TOTAL_VEHICULOS_20=4.0, TOTAL_VEHICULOS_21=4.0, TOTAL_VEHICULOS_22=2.0, TOTAL_VEHICULOS_23=1.0, TOTAL_VEHICULOS_24=4.0),
 Row(ID_SEGMENT=20, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=None, TOTAL_VEHICULOS_2=None, TOTAL_VEHICULOS_3=None, TOTAL_VEHICULOS_4=None, TOTAL_VEHICULOS_5=None, TOTAL_VEHICULOS_6=None, TOTAL_VEHICULOS_7=None, TOTAL_VEHICULOS_8=None, TOTAL_VEHICULOS_9=None, TOTAL_VEHICULOS_10=None, TOTAL_VEHICULOS_11=None, TOTAL_VEHICULOS_12=None, TOTAL_VEHICULOS_13=None, TOTAL_VEHICULOS_14=None, TOTAL_VEHICULOS_15=None, TOTAL_VEHICULOS_16=None, TOTAL_VEHICULOS_17=None, TOTAL_VEHICULOS_18=None, TOTAL_VEHICULOS_19=None, TOTAL_VEHICULOS_20=None, TOTAL_VEHICULOS_21=None, TOTAL_VEHICULOS_22=None, TOTAL_VEHICULOS_23=None, TOTAL_VEHICULOS_24=None),
 Row(ID_SEGMENT=21, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=31.0, TOTAL_VEHICULOS_1=17.0, TOTAL_VEHICULOS_2=4.0, TOTAL_VEHICULOS_3=5.0, TOTAL_VEHICULOS_4=11.0, TOTAL_VEHICULOS_5=8.0, TOTAL_VEHICULOS_6=7.0, TOTAL_VEHICULOS_7=15.0, TOTAL_VEHICULOS_8=10.0, TOTAL_VEHICULOS_9=19.0, TOTAL_VEHICULOS_10=16.0, TOTAL_VEHICULOS_11=10.0, TOTAL_VEHICULOS_12=34.0, TOTAL_VEHICULOS_13=37.0, TOTAL_VEHICULOS_14=31.0, TOTAL_VEHICULOS_15=45.0, TOTAL_VEHICULOS_16=54.0, TOTAL_VEHICULOS_17=57.0, TOTAL_VEHICULOS_18=62.0, TOTAL_VEHICULOS_19=55.0, TOTAL_VEHICULOS_20=69.0, TOTAL_VEHICULOS_21=65.0, TOTAL_VEHICULOS_22=66.0, TOTAL_VEHICULOS_23=75.0, TOTAL_VEHICULOS_24=85.0),
 Row(ID_SEGMENT=22, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=24.0, TOTAL_VEHICULOS_1=34.0, TOTAL_VEHICULOS_2=36.0, TOTAL_VEHICULOS_3=33.0, TOTAL_VEHICULOS_4=32.0, TOTAL_VEHICULOS_5=34.0, TOTAL_VEHICULOS_6=41.0, TOTAL_VEHICULOS_7=45.0, TOTAL_VEHICULOS_8=49.0, TOTAL_VEHICULOS_9=56.0, TOTAL_VEHICULOS_10=60.0, TOTAL_VEHICULOS_11=65.0, TOTAL_VEHICULOS_12=74.0, TOTAL_VEHICULOS_13=83.0, TOTAL_VEHICULOS_14=87.0, TOTAL_VEHICULOS_15=104.0, TOTAL_VEHICULOS_16=114.0, TOTAL_VEHICULOS_17=104.0, TOTAL_VEHICULOS_18=112.0, TOTAL_VEHICULOS_19=121.0, TOTAL_VEHICULOS_20=129.0, TOTAL_VEHICULOS_21=126.0, TOTAL_VEHICULOS_22=137.0, TOTAL_VEHICULOS_23=135.0, TOTAL_VEHICULOS_24=130.0),
 Row(ID_SEGMENT=30, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=47.0, TOTAL_VEHICULOS_1=40.0, TOTAL_VEHICULOS_2=12.0, TOTAL_VEHICULOS_3=10.0, TOTAL_VEHICULOS_4=12.0, TOTAL_VEHICULOS_5=20.0, TOTAL_VEHICULOS_6=23.0, TOTAL_VEHICULOS_7=14.0, TOTAL_VEHICULOS_8=16.0, TOTAL_VEHICULOS_9=15.0, TOTAL_VEHICULOS_10=22.0, TOTAL_VEHICULOS_11=28.0, TOTAL_VEHICULOS_12=37.0, TOTAL_VEHICULOS_13=42.0, TOTAL_VEHICULOS_14=57.0, TOTAL_VEHICULOS_15=54.0, TOTAL_VEHICULOS_16=95.0, TOTAL_VEHICULOS_17=116.0, TOTAL_VEHICULOS_18=134.0, TOTAL_VEHICULOS_19=123.0, TOTAL_VEHICULOS_20=135.0, TOTAL_VEHICULOS_21=153.0, TOTAL_VEHICULOS_22=182.0, TOTAL_VEHICULOS_23=141.0, TOTAL_VEHICULOS_24=191.0),
 Row(ID_SEGMENT=31, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=602.0, TOTAL_VEHICULOS_1=442.0, TOTAL_VEHICULOS_2=255.0, TOTAL_VEHICULOS_3=74.0, TOTAL_VEHICULOS_4=29.0, TOTAL_VEHICULOS_5=33.0, TOTAL_VEHICULOS_6=57.0, TOTAL_VEHICULOS_7=57.0, TOTAL_VEHICULOS_8=61.0, TOTAL_VEHICULOS_9=70.0, TOTAL_VEHICULOS_10=78.0, TOTAL_VEHICULOS_11=96.0, TOTAL_VEHICULOS_12=109.0, TOTAL_VEHICULOS_13=223.0, TOTAL_VEHICULOS_14=296.0, TOTAL_VEHICULOS_15=451.0, TOTAL_VEHICULOS_16=542.0, TOTAL_VEHICULOS_17=619.0, TOTAL_VEHICULOS_18=575.0, TOTAL_VEHICULOS_19=547.0, TOTAL_VEHICULOS_20=514.0, TOTAL_VEHICULOS_21=470.0, TOTAL_VEHICULOS_22=425.0, TOTAL_VEHICULOS_23=423.0, TOTAL_VEHICULOS_24=412.0),
 Row(ID_SEGMENT=32, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=451.0, TOTAL_VEHICULOS_1=370.0, TOTAL_VEHICULOS_2=173.0, TOTAL_VEHICULOS_3=28.0, TOTAL_VEHICULOS_4=28.0, TOTAL_VEHICULOS_5=55.0, TOTAL_VEHICULOS_6=51.0, TOTAL_VEHICULOS_7=56.0, TOTAL_VEHICULOS_8=61.0, TOTAL_VEHICULOS_9=62.0, TOTAL_VEHICULOS_10=77.0, TOTAL_VEHICULOS_11=104.0, TOTAL_VEHICULOS_12=147.0, TOTAL_VEHICULOS_13=238.0, TOTAL_VEHICULOS_14=372.0, TOTAL_VEHICULOS_15=459.0, TOTAL_VEHICULOS_16=552.0, TOTAL_VEHICULOS_17=590.0, TOTAL_VEHICULOS_18=583.0, TOTAL_VEHICULOS_19=497.0, TOTAL_VEHICULOS_20=497.0, TOTAL_VEHICULOS_21=477.0, TOTAL_VEHICULOS_22=417.0, TOTAL_VEHICULOS_23=401.0, TOTAL_VEHICULOS_24=362.0),
 Row(ID_SEGMENT=33, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=0.0, TOTAL_VEHICULOS_1=0.0, TOTAL_VEHICULOS_2=0.0, TOTAL_VEHICULOS_3=0.0, TOTAL_VEHICULOS_4=0.0, TOTAL_VEHICULOS_5=116.0, TOTAL_VEHICULOS_6=0.0, TOTAL_VEHICULOS_7=0.0, TOTAL_VEHICULOS_8=0.0, TOTAL_VEHICULOS_9=0.0, TOTAL_VEHICULOS_10=0.0, TOTAL_VEHICULOS_11=0.0, TOTAL_VEHICULOS_12=0.0, TOTAL_VEHICULOS_13=0.0, TOTAL_VEHICULOS_14=0.0, TOTAL_VEHICULOS_15=0.0, TOTAL_VEHICULOS_16=427.0, TOTAL_VEHICULOS_17=0.0, TOTAL_VEHICULOS_18=0.0, TOTAL_VEHICULOS_19=0.0, TOTAL_VEHICULOS_20=0.0, TOTAL_VEHICULOS_21=0.0, TOTAL_VEHICULOS_22=0.0, TOTAL_VEHICULOS_23=0.0, TOTAL_VEHICULOS_24=0.0),
 Row(ID_SEGMENT=34, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=None, TOTAL_VEHICULOS_2=None, TOTAL_VEHICULOS_3=None, TOTAL_VEHICULOS_4=None, TOTAL_VEHICULOS_5=None, TOTAL_VEHICULOS_6=None, TOTAL_VEHICULOS_7=None, TOTAL_VEHICULOS_8=None, TOTAL_VEHICULOS_9=None, TOTAL_VEHICULOS_10=None, TOTAL_VEHICULOS_11=None, TOTAL_VEHICULOS_12=None, TOTAL_VEHICULOS_13=None, TOTAL_VEHICULOS_14=None, TOTAL_VEHICULOS_15=None, TOTAL_VEHICULOS_16=None, TOTAL_VEHICULOS_17=None, TOTAL_VEHICULOS_18=None, TOTAL_VEHICULOS_19=None, TOTAL_VEHICULOS_20=None, TOTAL_VEHICULOS_21=None, TOTAL_VEHICULOS_22=None, TOTAL_VEHICULOS_23=None, TOTAL_VEHICULOS_24=None),
 Row(ID_SEGMENT=35, COD_LABORALIDAD=4, FECHA=datetime.datetime(2018, 1, 1, 0, 0), MES=1, HORA=0, MINUTO=0, CANTIDAD_PREC=0, TOTAL_VEHICULOS=None, TOTAL_VEHICULOS_1=None, TOTAL_VEHICULOS_2=None, TOTAL_VEHICULOS_3=None, TOTAL_VEHICULOS_4=None, TOTAL_VEHICULOS_5=None, TOTAL_VEHICULOS_6=None, TOTAL_VEHICULOS_7=None, TOTAL_VEHICULOS_8=None, TOTAL_VEHICULOS_9=None, TOTAL_VEHICULOS_10=None, TOTAL_VEHICULOS_11=None, TOTAL_VEHICULOS_12=None, TOTAL_VEHICULOS_13=None, TOTAL_VEHICULOS_14=None, TOTAL_VEHICULOS_15=None, TOTAL_VEHICULOS_16=None, TOTAL_VEHICULOS_17=None, TOTAL_VEHICULOS_18=None, TOTAL_VEHICULOS_19=None, TOTAL_VEHICULOS_20=None, TOTAL_VEHICULOS_21=None, TOTAL_VEHICULOS_22=None, TOTAL_VEHICULOS_23=None, TOTAL_VEHICULOS_24=None),

In [20]:
data.count()

1390512

The reason to use the registerTempTable( tableName ) method for a DataFrame, is so that in addition to being able to use the Spark-provided methods of a DataFrame, you can also issue SQL queries via the sqlContext.sql( sqlQuery ) method, that use that DataFrame as an SQL table. The tableName parameter specifies the table name to use for that DataFrame in the SQL queries.

Whether to use SQL or DataFrame methods like select and groupBy is probably largely a matter of preference. My understanding is that the SQL queries get translated into Spark execution plans.

In my case, I found that certain kinds of aggregation and windowing queries that I needed, like computing a running balance per customer, were available in the Hive SQL query language, that I suspect would have been very difficult to do in Spark.

If you want to use SQL, then you most likely will want to create a HiveContext instead of a regular SQLContext. The Hive query language supports a broader range of SQL than available via a plain SQLContext.

It's convenient to load the dataframe into a temp view in a notebook for example, where you can run exploratory queries on the data:

In [33]:
data.createOrReplaceTempView("data_view")

Then in another notebook you can run a sql query and get all the nice integration features that come out of the box e.g. table and graph visualisation etc.

In [49]:
%sql
SELECT * FROM data

SyntaxError: invalid syntax (<ipython-input-49-18c318626917>, line 2)

In [21]:
data.registerTempTable("data")

In [31]:
# Print the tables in the catalog
print(my_spark.catalog.listTables())

[Table(name='data', database=None, description=None, tableType='TEMPORARY', isTemporary=True)]

In [ ]:
df = sqlContext.table("data")
df.select('FECHA').show(10)

In [ ]:
rdd1 = df.rdd

### Rename columns

In [ ]:
df = df.withColumn("Month", month('FECHA')).withColumn("Weekday", dayofweek('FECHA')).withColumn("Hour", hour("FECHA")).withColumn("Minute", minute("FECHA"))
df.head(5)

In [ ]:
df_grouped = df.groupBy("ID_SEGMENT","Month","Weekday","Hour", "Minute").avg('TOTAL_VEHICULOS')
df_grouped.head(10)

In [ ]:
df_grouped_pandas = df_grouped.toPandas()

In [ ]:
df_grouped_pandas.head()